@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin circule-centered($size: 30px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: $size;
    height: $size;
    background-color: #272E38;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}